body {
    background-image: url("https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: $font-stack;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.container {
    width: 450px;
    padding: 20px;
    margin-top: 80px;
    background-color: $light-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    
  }

  h1 {
    text-align: center;
    margin-bottom: 15px;
    font-family: $font-stack;

  }
 
  .question {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  
  .options {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .option {
    display: block;
    margin-bottom: 10px;
  }
